.joinOuterContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  align-items: center;
  background-color: #1a1a1d;
}

.joinInnerContainer {
  width: 40%;
}

.joinInput {
  border-radius: 0;
  padding: 15px 20px;
  width: 100%;
  font-size: 20px;
}

.heading {
  color: white;
  font-size: 2.5em;
  padding-bottom: 10px;
  border-bottom: 2px solid white;
}

.button {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #2979ff;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  width: 100%;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
}

.mt-20 {
  margin-top: 20px;
}

@media (max-width: 700px) {
  .joinOuterContainer {
    height: 100%;
  }

  .joinInnerContainer {
    width: 90%;
  }
}

button:focus {
  outline: 0;
}
